<nav class="navbar navbar-default">
  <section class="navbar-header">
    <a class="navbar-brand" routerLink="/">
      Angular Learning
    </a>
  </section>
  <section class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}">
        <a routerLink="/">Home</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/test">TEST</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/syst">SYST</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/prod">PROD</a>
      </li>
    </ul>
  </section>
</nav>
