<nav class="navbar navbar-default">
  <section class="navbar-header">
    <a href="#" class="navbar-brand" (click)="onUserClick('Welcome')">
      Angular Learning
    </a>
  </section>
  <section class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="presentation"><a href="#" (click)="onUserClick('Test')">TEST</a></li>
      <li><a href="#" (click)="onUserClick('Syst')">SYST</a></li>
      <li><a href="#" (click)="onUserClick('Prod')">PROD</a></li>
    </ul>
  </section>
</nav>
