<nav class="navbar navbar-default">
  <section class="navbar-header">
    <a class="navbar-brand" routerLink="/"> Angular Learning </a>
  </section>
  <section class="navbar-collapse collapse" *ngIf="displayMenu">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/auth/">Home</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/auth/test">TEST</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/auth/syst">SYST</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/auth/prod">PROD</a>
      </li>
      <li>
        <button class="btn btn-default navbar-btn" (click)="onLogout()">
          Logout
        </button>
      </li>
    </ul>
  </section>
</nav>
