<div class="jumbotron">
  <h2>Welcome to {{ nameEnv }} Environment</h2>
  <h4>Any user can register here</h4>
  <form>
    <div class="form-group">
      <label for="name">Username :</label>
      <input type="text" id="name" class="form-control" 
        [(ngModel)] = "username" name="username"/>
    </div>
    <div class="form-group">
      <label for="email">Email :</label>
      <input type="text" id="email" class="form-control"
       [(ngModel)] = "useremail" name="useremail"/>
    </div>
    <div class="formgroup">
      <label for="role">Role :</label>
      <input type="text" id="role" class="form-control" 
       [(ngModel)] = "userrole" name="userrole"/>
    </div>
    <hr />
    <button class="btn btn-success" (click)="onClickButton()">Register</button>
  </form>
  <hr />
  <button class="btn btn-primary" (click)="onShowTestUsers()">Show Registered Users</button>
</div>