<div class="row">
    <div class="col-md-12 user-padding">
        <button class="btn btn-primary" (click)="onUserRegistration()">New Registration</button>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="col-xs-3">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let user of userList">
                    <a
                    (click)="onSelectedUser(user)"
                     role="button">
                     {{user.userName}}
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-xs-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

